<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>API Documentation</title>
  </head>
  <body>
    <h1>API Documentation</h1>
    <p>
      Visit <a href="/docs">Swagger Documentation</a> to view the API
      documentation.
    </p>
  </body>
</html>
